module.exports = {
    // An entity we will use credentials for
    entity: 'http://url-entity-goes-here',

    // An entity that we don't need to use credentials for(for retrieving public posts, etc.)
    stalkedEntity: 'https://anotherEntity.campr.me',

    app: {
        name: 'tent.js example app',
        url: 'http://example.com',
        post_types: {
            read: ['https://tent.io/types/status/v0'],
            write: ['https://tent.io/types/status/v0']
        },
        redirect_uri: 'http://example.com/oauth'
    }
};
